
<section>
    
    <div class="container mt-2">
  
    <div class="row"> 
        {{#each allProducts}}        
    <div class="col-md-4">
               
    <div class="card" style="width: 18rem;">
  <img src="/product_images/{{this._id}}.jpg">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.category}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>



    </div>
    {{/each}}
  </div>
      
</div>
</section>